@import 'colors';
@import 'mixins';
@import "fonts";

/*----------GENERAL FORMATTING------------*/
.aboutMeCard{
  @include card(550px,70%,1100px,320px,320px);
  flex-direction: column;
  @include mq('tablet'){
    flex-direction:row;
  }

}


/*----------IMAGE, NAME, & TITLE----------*/


.aboutMeOverview{
    display:flex;
    width: 100%;
    flex-direction:column;
    align-content: center;
    justify-content: center;
    border-bottom: 2px solid #EEEEEE;
    height:50%;
    @include mq('tablet'){
      width:40%;
      height:100%;
      border-bottom: 0;
      border-right:2px solid #EEEEEE;
    }

    .meContainer{
      margin: auto 0;
      .imgContainer{
        width: 100%;
        display: flex;
        justify-content: center;


        .imgCover{
          margin: auto 0 5px 0;
          @include picture(125px, 5px);
        }
      }
      .nameTitleContainer{

        width: 100%;
        display: flex;
        align-items: center;
        flex-direction: column;
        h1{
          margin: 0 0 5px 0;
          color:$accent-color;
        }
        h2{
          margin: 0 0 5px 0;
          color:$secondary-text-color;
        }
    }

  }

  .contactContainer{
    display: none;
    flex-direction: row;
    justify-content: space-around;

    margin-bottom: 25px;
    @include mq('tablet'){
      display:flex;
    }
    i{
      color:$accent-color;
      &:hover{
        color:$accent-color-dark;
      }
    }

  }

}

/*--------------DETAILS----------------*/
.aboutMeDetails{
  width:auto;
  height: 50%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 15px 15px;
  @include mq('tablet'){
    width: 60%;
    height: 100%;
  }

  .aboutMeDescription{
    width: 100%;
    display: flex;
    flex-direction: column;
    padding-bottom: 15px;
    h4{

      margin: 0px 10px;
    }

  }
  .skillsBody{
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    h4{
      margin-bottom: 5px;
    }

    .skillsContainer{
      width: 100%;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      .lvl1{
        display: flex;
        flex-wrap: wrap;
        align-items: center;
      }
      .skill{
        @include chip();
        margin: 2px 2px;
        &.lvl2{
          display: none;
          @include mq('tablet'){
            display: inline-block;
          }
        }
      }
    }
  }
  a{

    margin-left:5px;
    font-size:12px;
    color:$accent-color;
    &:hover{
      color:$accent-color-dark;
    }
    &:active{
      color:$accent-color-dark;
    }
  }
  .contactDetailSM{
    display:flex;
    flex-direction:row;
    justify-content: center;
    margin-top:auto;
    margin-bottom: 10px;

    @include mq('tablet'){
      display:none;
    }
    .contactContainer{
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-self: flex-end;
      height: 100%;
      width: 250px;
      i{
        color:$accent-color;
        &:hover{
          color:$accent-color-dark;
        }
      }
    }
  }
}
