@import 'colors';
@import 'mixins';
@import "fonts";

.projectCard{
  @include card(
      $height: 115px,
      $width:300px,
      $lgMaxWidth:300px,
      $lgHeight:100px,
      $smWidth:200px);
      display:flex;
      flex-direction: column;
      padding: 15px 15px;
      margin: 15px 0;


      .projHeader{
        display: flex;
        padding-bottom: 10px;
        .projLinkContainer{
          display: flex;
          margin-bottom: 5px;

          a{
            margin-left: 20px;
          }
        }
      }
      p{
        margin-top: 10px;
        height: 200px;
        overflow: hidden;
        text-overflow: ellipsis;


      }

}
