/*--------------DEPENDENCIES-------------------*/
@import "reset";
@import 'header';
@import 'colors';
@import 'mixins';
@import 'fonts';
@import 'aboutme';


/*--------------Body-------------------*/
body{
  display:flex;
  flex-direction: row;
  margin:0px;
  padding:0px;
  font-family: $font;
}
a{
  text-decoration: none;
}
li{
  list-style-type: none;
}

.pageBody{
  margin-top:70px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
